PORT=4000
PRODUCTS_SERVICE_URL=http://localhost:4001
CARTS_SERVICE_URL=http://localhost:4002
ORDERS_SERVICE_URL=http://localhost:4003
PAYMENTS_SERVICE_URL=http://localhost:4004
INVOICES_SERVICE_URL=http://localhost:4005
