PORT=4003
CARTS_SERVICE_URL=http://localhost:4002
PRODUCTS_SERVICE_URL=http://localhost:4001
INVOICES_SERVICE_URL=http://localhost:4005
SENDGRID_API_KEY=
SENDGRID_FROM=
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_FROM=
